<h1>Edit your account</h1>
<form class="" action="/change-account" method="post">
  <label for="username">New Username</label>
  <input type="text" name="username" value="">
  <label for="password">New Password</label>
  <input type="password" name="password" value="">
  <button type="submit" name="button">enter</button>
</form>
<a href="/delete_account">delete account</a>
