
<% if session[:user_id] %>

<% else %>

  <form class="signin" action="/sign-in" method="post">
    <input type="text" name="username" value="" placeholder="username">
    <input type="password" name="password" value="" placeholder="password">
    <button type="submit" name="button">enter</button>
  </form>

 <% end %>
<h1>Home</h1>
<div id="mainimage">
  <img  src="/images/mountaintrees.jpg" alt="illustration of trees">
</div>
<div class="feedcenter">
  <% @feed.reverse.each do |post| %>
  <div class="feedposts">
    <div class="feedusername"> <a class="feedlink" href="/profile/<%=post.user_id %>"><%= post.user.username %></a>  </div>
    <div class="feedpagedate">  <%= post.date %>  </div>
    <div class="feedcontent">  <%= post.content %> </div>
  </div>
  <br>
  <% end %>
</div>
