homepage
<div class="blogpost">
  <ul>
  <% @feed.reverse.each do |post| %>
    <li> <%= post.user.username %> </li>
    <li> <%= post.date %>  </li>
    <li> <%= post.content %> </li>
    <br>
    <% end %>
  </ul>
</div>
