<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
     rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <script type="text/javascript" src="/main.js"> </script>
    <title></title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/"><i class="material-icons">home</i></a>
        <% if session[:user_id] %>
          <a href="/sign_out"><i class="material-icons">eject</i></a>
          <a href="/profile"><i class="material-icons">account_circle</i></a>
          <a href="/post"><i class="material-icons">add_circle</i></a>
          <a href="/edit"><i class="material-icons">settings</i></a>
        <% else %>
          <a href="/sign_up"><i class="material-icons">playlist_add</i></a>
        <% end %>
      </nav>
    </header>

      <div class="flashmessage">
        <% if flash[:notice] %>
        <%= flash[:notice] %>
        <% end %>
      </div>

    <%= yield %>

    <footer></footer>
  </body>
</html>
