<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
     rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <script type="text/javascript" src="/main.js"> </script>
    <title></title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">home</a>
        <% if session[:user_id] %>
          <a href="/sign_out">sign out</a>
          <a href="/profile">profile</a>
          <a href="/post">post</a>
          <a href="/edit">edit account</a>
        <% else %>
          <a href="/sign_in">sign in</a>
          <a href="/sign_up">sign up</a>
        <% end %>
      </nav>
    </header>

      <div class="flashmessage">
        <% if flash[:notice] %>
        <%= flash[:notice] %>
        <% end %>
      </div>

    <%= yield %>

    <footer></footer>
  </body>
</html>
