<h1>Sign up</h1>

<form class="signupform" action="/sign-up" method="post">
  <input type="text" name="username" value="" placeholder="username">
  <br>
  <input type="password" name="password" value="" placeholder="password">
  <br>
  <label for="state">State/Province</label>
  <input type="text" name="state" value="">
  <br>
  <label for="country">Country</label>
  <input type="text" name="country" value="">
  <br>
  <button type="submit" name="button">sign up</button>
</form>
