sign up
<form class="" action="/sign-up" method="post">
  <input type="text" name="username" value="" placeholder="username">
  <input type="password" name="password" value="" placeholder="password">
  <button type="submit" name="button">sign up</button>
</form>
