sign up


<form class="" action="/sign-up" method="post">
  <input type="text" name="username" value="" placeholder="username">
  <input type="password" name="password" value="" placeholder="password">
  <label for="state">State/Province</label>
  <input type="text" name="state" value="">
  <label for="country">Country</label>
  <input type="text" name="country" value="">
  <button type="submit" name="button">sign up</button>
</form>
