/*layout styles*/
body {
  font-family: 'Roboto', sans-serif;
  color: #232323;

}

h1 {
  text-align: center;
  font-size: 50px;
}

h2 {
  text-align: center;
  font-size: 40px;
}

ul {
  list-style: none;
}

.material-icons:hover {
  color: #ff515d;
}

#homeicon, #ejecticon, #profileicon, #posticon, #editicon, #signupicon {
  font-size: 50px;
}

nav {
  top: 0px;
  width: 100%;
  position: fixed;
  background-color: white;
  text-align: center;

}

a {
  text-decoration: none;
  color: #232323;
}

.pagemargin {
  height: 50px;
}



/*homepage styles*/
.signin {
  text-align: center;
}

.feedposts {
  text-align: center;
}

.feedusername {
  font-size: 25px;
}







/*profile styles*/

.profileposts {
  text-align: center;
  font-size: 20px;
}

.local {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}


/*sign up*/

.signupform {
  text-align: center;
  font-size: 20px;
}















/*post page styles*/
.editpostbutts {
  text-align: center;
}

.editpostbutton {
  padding: 5px;
  margin: 10px;
  font-size: 10px;
}

.postpageposts {
  text-align: center;

}

.postpagestuff {
  margin: 10px;
  font-size: 30px;
}

.postpagedate {
  margin: 10px;
  color: #545454;
  font-size: 20px;
}

.postform {
  text-align: center;
}
