/*layout styles*/
body {
  font-family: 'Roboto', sans-serif;
  color: #232323;
}

h1 {
  text-align: center;
  font-size: 50px;
}

h2 {
  text-align: center;
  font-size: 40px;
  color: #ff515d;
}

ul {
  list-style: none;
}

.material-icons:hover {
  color: #ff515d;
}

#homeicon, #ejecticon, #profileicon, #posticon, #editicon, #signupicon {
  font-size: 60px;
}

nav {
  top: 0px;
  width: 100%;
  position: fixed;
  background-color: white;
  text-align: center;

}

a {
  text-decoration: none;
  color: #232323;
}

.pagemargin {
  height: 50px;
}

textarea:focus, input:focus, button:focus {
    outline: none;
}

textarea {
  font-size: 20px;
}

input {
  border: 2px, solid, #232323;
  font-size: 15px;

}

button {
   border:none;
   color: white;
   background-color: #232323;
   padding: 10px;
   text-transform: uppercase;
   font-size: 15px;
   margin: 10px;
 }

button:hover {
   background-color: #ff515d;
 }

.flashmessage {
  text-align: center;
  font-size: 30px;
  color: #ff515d;
}


/*homepage styles*/
.signin {
  top: 0px;
  position: fixed;
  z-index: 10;
}

.feedposts {
  text-align: center;
  width: 600px;
  background-color: #e8fffd;
  border: 2px solid black;
  padding: 10px;
  margin: 0 auto;
}

.feedusername {
  font-size: 25px;
  display: inline;
}

.feedlink:hover {
  color: #ff515d;
}


.feedpagedate {
  margin: 10px;
  color: #545454;
  font-size: 20px;
  display: inline;

}

.feedcontent {
  margin: 10px;
  font-size: 30px;

}

.feedcenter {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}


/*profile styles*/

.profileposts {
  text-align: center;
  width: 600px;
  background-color: #e8fffd;
  border: 2px solid black;
  padding: 10px;
  margin: 0 auto;

}


.local {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}



/*sign up*/

.signupform {
  text-align: center;
  font-size: 20px;
  padding-top: 40px;
}

.signupinput {
  margin: 10px;
}

.signupbackground {
  background-color: #e8fffd;
  width: 400px;
  height:400px;
  margin: 0 auto;
  border: 2px solid black;


}














/*post page styles*/
.editpostbutts {
  text-align: center;
}

.editpostbutton {
  padding: 5px;
  margin: 10px;
  font-size: 10px;
}

.postpageposts {
  text-align: center;
  width: 600px;
  background-color: #e8fffd;
  border: 2px solid black;
  padding: 10px;
  margin: 0 auto;

}

.postpagestuff {
  margin: 10px;
  font-size: 30px;
}

.postpagedate {
  margin: 10px;
  color: #545454;
  font-size: 20px;

}

.postform {
  text-align: center;
}

.blogpost {
  text-align: center;
}

ul{
  list-style-type: none;
}


/*update page styles*/
.editprofbackground {
  background-color: #e8fffd;
  width: 400px;
  height:400px;
  margin: 20px;
  border: 2px solid black;
  display: inline-table;
  text-align: center;
}

.ecenter {
  text-align: center;
}

.editheading {
  text-align: center;
  font-size: 50px;
  margin: 30px 20px 20px 20px;
}

.deletecenter {
  text-align: center;
  margin: 20px;
}

#deleteaccount {
  color: white;
  background-color: #232323;
  padding: 10px;
  text-transform: uppercase;
}

#deleteaccount:hover {
  background-color: #ff515d;
}

input {
  margin: 10px;
}


/*edit post style*/
.editpostform {
  text-align: center;
}

.editpostdate {
  text-align: center;
  margin: 10px;
  color: #545454;
  font-size: 20px;

}

.editpostcontent {
  text-align: center;
  margin: 10px;
  font-size: 30px;
}
